<VirtualHost *:{{ listen_port }}>
  ServerName {{ app_domains[0] }}
{% if app_domains|lengh > 1 %}
{% for item in app_domains[1:] %}
  ServerAlias {{ app_domains }}
{% endfor%}   
{% endif %}

{% if serveradmin %}
  ServerAdmin {{ serveradmin }}
{% endif %}
  DocumentRoot "{{ app_root_path }}"

  <Location "{{ app_root_path }}" >
    Options -Indexes +FollowSymLinks
  </Location>

{% if ssl is True %}
  SSLEngine On
  SSLCertificateFile {{ ssl_certificate_file }}
  SSLCertificateKeyFile {{ ssl_certificate_key_file }}
{% endif%}

  ServerSignature Off
</VirtualHost>

